.spanMain {
    position: relative;
    top: 0px;
    left: 0px;
    width: 99.5%;
    border: 1px solid #CCC;
    padding-right: 3px;
}

.spanHeader {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
}

.spanHeaderTitle {
    position: absolute;
    top: 0px;
    left: 0%;
    width: 15%;
    height: 100%;
    line-height: 20px;
    border: 1px solid white;
}

.spanHeaderRows {
    position: relative;
    top: 0px;
    left: 15%;
    width: 85%;
}


.spanScale {
    position: relative;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 20px;
    line-height: 20px;
}

.spanScaleMonths {
    font-weight: bold;
}

.spanScaleMonth, .spanScaleWeek {
    position: absolute;
    top: 0px;
    text-align: center;
    height: 100%;
    border: 1px solid #CCC;
}

.spanRow {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;

}

.spanRowHeader {
    position: absolute;
    top: 0px;
    left: 0%;
    width: 15%;
    height: 100%;
    line-height: 20px;
    border: 1px solid #CCC;
    box-sizing: border-box;
}

.spanEvents {
    position: relative;
    top: 0px;
    left: 15%;
    width: 85%;
}

.spanEventsRow {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    border: 1px solid #CCC;
    margin-top: 3px;
    /*margin-bottom: 1px;*/
}

.spanEvent {
    position: absolute;
    top: 0px;
    height: 100%;
    overflow: hidden;
    z-index: 20;
    border: 0 solid #CCC;
    border-color: #36C;
    background-color: #36C;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 1px 2px;
}

.spanMain {
    padding: 0px 0px;
}

.spanMain .even {
    background-color: #EAEAEA;
}

.spanMain .odd {
    background-color: #FAFAFB;
}

a.spanEvent {
    text-decoration: none;
    cursor: pointer;
}
